@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this bakery website to check the products and prices available, you can register as a customer as well as buy baked goods.</p>
