@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Seattle Central Broadway Campus<br />
    1701 Broadway<br />
    Seattle, WA 98122<br />
    <abbr title="Email">Email:</abbr>
    Bennett.Kielbon@seattlecentral.edu
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@BennettsBakery.com">Support@BennettsBakery.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@BennettsBakery.com">Marketing@BennettsBakery.com</a>
</address>