@model IEnumerable<Bakery2018.Models.Product>


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bennett's Bakery</h1>
    <p class="lead">Welcome to my bakery homepage! Here you will find a pages to show bakery products, to register new customers, handle sales with details and receipts as well as much more! enjoy!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="col-md-4">
    <h2>Products</h2>
    <p>Check out our available products below.</p>

    <div class="row">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                <th>@Html.DisplayNameFor(model => model.ProductPrice)</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.ProductName)</td>
                    <td>@Html.DisplayFor(model => item.ProductPrice)</td>
                </tr>
            }
        </table>
    </div>
</div>
